.cards_container {
    display: flex;
    flex-direction: row;
}

.card {
    background: #162740;
    border-radius: 16rem;
    flex: 1 1 0;
    padding: 30rem 40rem;
    position: relative;
    box-sizing: border-box;
    height: 300rem;
}

.card + .card {
    margin-left: 30rem;
    margin-top: 0;
}

.card_image {
    height: 150rem;
    margin: auto;
    display: block;
    filter: drop-shadow(0px 4px 50px rgba(113, 155, 255, 0.3));
}

.card_text {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 18rem;
    line-height: 26rem;
    text-align: center;
    color: #E2E3E8;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30rem;
}

.link_container {
    margin-top: 30rem;
    text-align: center;
}

.link {
    display: inline-block;
    padding: 15rem 50rem;
    background: #FF284A;
    border-radius: 8rem;

    font-family: Iceberg;
    font-style: normal;
    font-weight: normal;
    font-size: 18rem;
    line-height: 22rem;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 600px) {
    .cards_container {
        flex-direction: column;
    }

    .card {
        min-height: 280rem;
    }

    .card + .card {
        margin-left: 0;
        margin-top: 20rem;
    }

    .card_image {
        height: 120rem;
    }

    .card_text {
        font-size: 16rem;
        line-height: 24rem;
        bottom: 40rem;
    }

    .link {
        width: 100%;
        box-sizing: border-box;
    }
}