.hero_container {
    width: 100%;
    padding:  0 20rem 20rem;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(5,20,38,1) 0%, rgba(22,39,64,1) 60%);
    border-radius: 16rem;
    margin: 0;
}

.hero_img {
    width: 100%;
}

.text {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 25rem;
    line-height: 31rem;
    color: #E2E3E8;
    padding: 10rem;
    margin-top: 20rem;
}

@media (max-width: 600px) {
    .hero_container {
        margin: 0 20rem;
        width: calc(100% - 40rem);
    }

    .text {
        font-size: 20rem;
        line-height: 25rem;
    }
}