.marketplace_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40rem;
    margin-top: 40rem;
}

.slider {
    display: none !important;
    margin-top: 40rem;
}

.void_card {
    border: 1px solid #464E6C;
    border-radius: 16rem;
    font-family: Iceberg;
    font-style: normal;
    font-weight: normal;
    font-size: 20rem;
    line-height: 24rem;
    color: #FF284A;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
}

.void_card::after {
    display: block;
    position: absolute;
    width: 75rem;
    height: 50rem;
    content: '';
    background: url("/images/utils/choose-arrow-card.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: 20rem;
    bottom: 33rem;
}

.margined {
    margin-left: 10rem;
}

.slider_counter {
    display: none;
}

@media (max-width: 600px) {
    .slider {
        display: block !important;
        width: 100vw;
        transform: translateX(-20rem);
    }
    .marketplace_container {
        display: none;
    }
    .void_card {
        display: flex !important;
        box-sizing: border-box;
        height: 444rem;
        width: calc(100% - 40rem) !important;
        margin: 0 20rem;
    }
    .slider_counter {
        display: block;
        font-family: Lexend;
        font-style: normal;
        font-weight: 500;
        font-size: 16rem;
        line-height: 20rem;
        text-align: center;
        color: #464E6C;
        margin-top: 30rem;
    }
}