.input {
    border: none;
    background-color: #162740;
    border-radius: 8rem;
    padding: 15rem 20rem;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 18rem;
    line-height: 22rem;
    color: #E2E3E8;
    outline: none;
    width: 393rem;
}

.button {
    background: #FF284A;
    border-radius: 8rem;
    font-family: Iceberg;
    font-style: normal;
    font-weight: normal;
    font-size: 18rem;
    line-height: 22rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 15rem 50rem;
    cursor: pointer;
    margin-left: 20rem;
    margin-top: 0;
    transition: background-color, 0.2s;
    display: inline-block;
    outline: none;
}

.button:hover {
    background: #D21533;
}

.button_disabled {
    background: #464E6C;
}

.button_disabled:hover {
    background: #464E6C;
}

.form {
    margin-top: 20rem;
    font-size: 10rem;
}

.error {
    position: absolute;
    margin-top: 10rem;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14rem;
    line-height: 17rem;
    color: #FF284A;
}

.error * {
    color: #FF284A;
}

.success {
    position: absolute;
    margin-top: 10rem;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14rem;
    line-height: 17rem;
    color: #3e5388;
}

.success * {
    color: #3e5388;
}

.rocket {
    display: inline-block;
    margin-left: 16rem;
    animation-name: rocket;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes rocket {
    from { left: 0; opacity: 1 }
    to { left: 20rem; opacity: 0 }
}

@media (max-width: 600px) {
    .input {
        width: 100%;
        box-sizing: border-box;
    }

    .button {
        margin-left: 0;
        margin-top: 20rem;
        width: 100%;
    }

    .rocket {
        display: none;
    }
}