.background_gradient {
  background: linear-gradient(180deg, rgba(5, 13, 38, 0.2) 0%, #050D26 100%),
              url("/images/backgrounds/background-cover.jpg");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 100vw;
  height: 50vw;
  top: 0;
  z-index: -1;
}

.content {
  margin-top: 259rem;
  padding: 0 120rem;
  box-sizing: border-box;
  max-width: 100vw;
}

.content > * + * {
  margin-top: 150rem;
}

@media (min-width: 1440px) {
  .content {
    padding: 0 calc((100vw - 1200px) / 2);
  }

  .background_gradient {
    background: url("/images/backgrounds/background-cover-big.jpg"),
                linear-gradient(180deg, rgba(5, 13, 38, 0.2) 0%, #050d26 100%);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 600px) {
  .background_gradient {
    height: 125vw;
    background-size: cover;
  }

  .content {
    margin-top: 230rem;
    padding: 0 20rem;
  }

  .content > * + * {
    margin-top: 113rem;
  }
}