.background_gradient {
  background: linear-gradient(180deg, rgba(5, 13, 38, 0.2) 0%, #050D26 100%),
              url("/images/backgrounds/background-cover.png");
  position: absolute;
  background-size: contain;
  float: left;
  width: 100vw;
  height: 50vw;
  top: 0;
  z-index: -1;
}

.content {
  margin-top: 259rem;
  padding: 0 120rem;
}

.content > * + * {
  margin-top: 150rem;
}